[*.cs]

# CS8603: Mögliche Nullverweisrückgabe.
dotnet_diagnostic.CS8603.severity = none

# CS8600: Das NULL-Literal oder ein möglicher NULL-Wert wird in einen Non-Nullable-Typ konvertiert.
dotnet_diagnostic.CS8600.severity = none

# CS8601: Mögliche Nullverweiszuweisung.
dotnet_diagnostic.CS8601.severity = none

# IDE0011: Geschweifte Klammern hinzufügen
csharp_prefer_braces = when_multiline

# CA1310: "StringComparison" für Richtigkeit angeben
dotnet_diagnostic.CA1310.severity = none
